
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<!-- Meta, title, CSS, favicons, etc. -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<base href="/">
<title>MOP Twitter</title>

<script src="/javascripts/dist/app_deps.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
<script src="/javascripts/dist/app_essentials.js"></script>
<!-- Custom Theme Style -->
<link href="/css/dist/style.css" rel="stylesheet">
